<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy first</button>
      <!-- <app-server-element *ngFor="let item of servers" [server]="item"></app-server-element> -->
      <app-server-element *ngFor="let server of servers" [serverItem]="server" [name]="server.name">

        <!-- send contents to the component -->
        <p #contentParagraph [ngStyle]="{'color':server.type==='blueprint' && 'blue'}">
          <em>
            {{server.content}} ->
            {{server.type}}</em></p>

      </app-server-element>
    </div>
  </div>

</div>